<div class="row">
	<div class="col-md-8">
		<%= hidden_field_tag 'unit_value', number_with_precision(@raffle.unit_value, precision: 2) %>
		<div id="tickets_list">
		<div class="row">
			<h2 class="text-center">Números disponíveis</h2>
	<% @tickets.each do |ticket| %>
		<div class="ticket <%= ticket.get_status_class %>" data-id = "<%= ticket.number %>" data-selected = false>
			<div class="ticket-number text-center"> <%= ticket.number %> </div>
		</div>
	<% end %>
	     <div align="align-center">
         <%= paginate @tickets %>
      </div>
      </div>
	</div>
	</div>
	<div class="col-md-4">
		<div id="buy_wrap" class="default-border">
		<div class="ms-1">
		<div class="row">
			<h2 class="text-center">Dados da compra</h2>
			<h5 class="text-center"><%= @raffle.title %></h3>
			<h5 class="text-center"><%= @raffle.prize %></h3>
		</div>
		<div class="row">
			<div id='selected_tickets_list' class="row"></div>
			</div>
			<p>Meus números</p>
		</div>
		<div class="row">
			<div class="col-md-6">
			<p> Valor por número: </p>
		</div>
		<div class="col-md-6">
			<p>R$ <%= number_with_precision(@raffle.unit_value, precision: 2) %> </p>
		</div>
			<div class="col-md-6">
				<p> Valor total: </p>
			</div>
			<div class="col-md-6">
				<p id="final_value" class="currency"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p id="error_message" class="text-danger"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
			<%= link_to 'Voltar', raffles_path, class: "btn btn-submit-adm mb-3" %>
			</div>
			<div class="col-md-6">
			<%= form_with url: raffles_check_tickets_path(@raffle), html: { method: :post }, class: 'has-error-feedback me-1' do |f| %>
			<%= f.hidden_field 'selected_tickets_hidden', value: "", id: "selected_tickets_hidden" %>
			<%= f.submit "Confirmar", class: "btn btn-submit-adm"%>
			<% end %>
			</div>
		</div>
		</div>
		</div>
	</div>
</div>