<div class="row">
   <div class="col-md-6">
      <% if @raffle.images.attached?  %>
      <div id="raffleCarousel" class="carousel slide" data-bs-ride="carousel">
         <div id="raffleCarouselInner" class="carousel-inner">
            <%  @raffle.images.each_with_index do |img, index| %>
            <div class="carousel-item img-fluid <%= index == 0 ? 'active' : '' %>">
               <img src="<%= url_for(img) %>" class="d-block w-100">
            </div>
         </div>
         <% end %>
         <button class="carousel-control-prev" type="button" data-bs-target="#raffleCarousel" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#raffleCarousel" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
         </button>
         </div>
         <% end %>
   </div>
   <div class="col-md-6">
      <div class="d-flex justify-content-center">
         <canvas class="raffleProgessChart" data-tickets-sold = "<%= @raffle.tickets_sold.to_s %>" data-tickets-open = "<%= (@raffle.tickets_number - 0).to_s %>" style="width: 500px;"></canvas>
      </div>
      <div class="row">
         <h5 class="text-center"><%= @raffle.tickets_sold.to_s + '/' + @raffle.tickets_number.to_s %></h5>
      </div>
      <div class="row">
         <h5 class="text-center">R$ <%= number_with_precision(@raffle.unit_value, precision: 2) %></h5>
      </div>
      <div class="row">
         <div class="d-flex justify-content-center my-1">
            <%= link_to 'Comprar números', raffles_buy_path, :class => 'btn btn-action' %>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <h2 class="text-center text-center sub-group-form"> Campanha </h2>
      <h2><%= @raffle.title %></h2>
      <h2><%= @raffle.description %></h2>
   </div>
   <div class="col-md-6">
      <h2 class="text-center sub-group-form"> Prêmio </h2>
      <h2><%= @raffle.prize %></h2>
      <h2><%= @raffle.prize_description %></h2>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <h2 class="text-center sub-group-form"> Condição </h2>
      <h2><%= @raffle.condition.name %></h2>
   </div>
   <div class="col-md-6">
      <h2 class="text-center sub-group-form">Entrega </h2>
      <h2><%= @raffle.delivery_type.name %></h2>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h2 class="sub-group-form">Sobre a instituição </h2>
      <h2><%= @raffle.institution.about %></h2>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <%= link_to 'Voltar', raffles_path, class: "btn btn-submit-adm mt-2" %>
   </div>
</div>
<%= debug(@raffle.title) if Rails.env.development? %>