<% if @user.errors.any? %>
<h2> Erros ao criar novo usuario </h2>
<ul>
	<% @user.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>


<div class="col-md-12">
	<%= f.label :cpf %>
	<input class="form_control" type="email" name="institution[email]" id="institution_email">
	<div class="input-group">
		<%= f.text_field :cpf, :class => 'form_control' %>
	</div>

	<%= f.label :name, 'Nome' %>
	<div class="input-group">
		<%= f.text_field :name, :class => 'form_control' %>
	</div>

	<%= f.label :email, 'E-mail' %>
	<div class="input-group">
		<%= f.email_field :email, :class => 'form_control' %>
	</div>

	<%= f.label :password, 'Senha' %>
	<div class="input-group">
		<%= f.password_field :password, :class => 'form_control' %>
	</div>

	<%= f.label :address %>
	<div class="input-group">
		<%= f.text_field :address, :class => 'form_control' %>
	</div>

	<%= f.label :number %>
	<div class="input-group">
		<%= f.text_field :number, :class => 'form_control' %>
	</div>

	<%= f.label :complement %>
	<div class="input-group">
		<%= f.text_field :complement, :class => 'form_control' %>
	</div>

	<%= f.label :neighborhood %>
	<div class="input-group">
		<%= f.text_field :neighborhood, :class => 'form_control' %>
	</div>

	<%= f.label :zipCode %>
	<div class="input-group">
		<%= f.text_field :zipCode, :class => 'form_control' %>
	</div>

	<%= f.label :ddd_phone %>
	<div class="input-group">
		<%= f.text_field :ddd_phone, :class => 'form_control' %>
	</div>

	<%= f.label :phone_number %>
	<div class="input-group">
		<%= f.text_field :phone_number, :class => 'form_control' %>
	</div>

	<%= f.label :ddd_cellphone %>
	<div class="input-group">
		<%= f.text_field :ddd_cellphone, :class => 'form_control' %>
	</div>

	<%= f.label :cellphone_number %>
	<div class="input-group">
		<%= f.text_field :cellphone_number, :class => 'form_control' %>
	</div>

	<%= f.submit %>

</div>

<% end %>