<h3 class="page-header">Usuarios</h3>

<div class="col-md-12">
	<%= link_to 'Novo', new_user_path, :class => 'btn btn-default' %>
	<div class="input-group data-table-search">
		<input class="form-control" type="text" placeholder="Busca" aria-label="Search">
		<div class="input-group-btn">
			<button id="btnSearch" class="btn btn-default" type="button"><i class="material-icons">search</i></button>
		</div>
	</div>
	<table id="userDataTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="th-sm">
					Nome
				</th>
				<th class="th-sm">
					CPF
				</th>
				<th class="th-sm">
					Telefone
				</th>
				<th class="th-sm">
					Endereco
				</th>
				<th class="th-sm">
					Cidade/UF
				</th>
				<th class="th-sm">
					Data Cadastro
				</th>
				<th class="th-sm">
					Email
				</th>
				<th class="th-sm">
					Carteira					
				</th>
				<th class="th-sm">
					Alterar
				</th>
				<th class="th-sm">
					Remover
				</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= CPF.new(user.cpf).formatted %></td>
				<td><%= number_to_phone(user.ddd_phone + user.phone_number, area_code: true, pattern: /(\d{2})(\d{4})(\d{4})$/)  %></td>
				<td><%= user.address %></td>
				<td><%= user.number %></td>
				<td><%= user.created_at %></td>
				<td><%= user.email %></td>
				<td>R$ 100.00</td>
				<td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_user_path(user), :class => 'btn' %></td>
				<td><%= link_to '<i class="material-icons">delete</i>'.html_safe, users_path(user),  method: :delete, data: {confirm: "Tem certeza que deseja excluir o usuario?"}, :class => 'btn' %></td>
			</tr>
			<% end %> 	
		</tbody>
	</table>
	<div align="center">
		<%= will_paginate %>
	</div>
</div>