<%= form_with model: model, class: 'has-validation-return', url: url do |f| %>

<div class="row">
	<div class="col-md-12"><h5 class="sub-group-form">Identificação</h5></div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= f.label :cpf, "CPF", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<% if form_is_edit %>
			<%= f.text_field :cpf, :class => "form-control rounded-3", disabled: true, "data-mask": "000.000.000-00" %>
			<% else %>
			<%= f.text_field :cpf, :class => "form-control rounded-3", "data-mask": "000.000.000-00" %>
			<% end %>
			<div id="cpf_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :name, 'Nome', class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :name, :class => 'form-control rounded-3' %>
			<div id="name_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-12"><h5 class="sub-group-form">Acesso</h5></div>

	<div class="col-md-6">
		<%= f.label :password, 'Senha', class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.password_field :password, :class => 'form-control rounded-3' %>
			<div id="password_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :password_confirmation, 'Confirmar senha', class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.password_field :password_confirmation, :class => 'form-control rounded-3' %>
			<div id="password_confirmation_feedback" class="invalid-feedback"></div>
		</div>
	</div>

</div>

<div class="col-md-12"><h5 class="sub-group-form">Endereço</h5></div>

<div class="row">

	<div class="col-md-6">
		<%= f.label :address, "Endereço", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :address, :class => 'form-control rounded-3' %>
			<div id="address_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :number, "Número", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :number, :class => 'form-control rounded-3' %>
			<div id="number_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :complement, "Complemento", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :complement, :class => 'form-control rounded-3' %>
			<div id="complement_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :neighborhood, "Bairro", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :neighborhood, :class => 'form-control rounded-3' %>
			<div id="neighborhood_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<%= f.label :zipCode, "CEP", class: "form-label mt-1 rmb-1" %>
	<div class="input-group has-validation">
		<%= f.text_field :zipCode, :class => 'form-control rounded-3', "data-mask": "00000-000" %>
		<div id="zipCode_feedback" class="invalid-feedback"></div>
	</div>

</div>

<div class="col-md-12"><h5 class="sub-group-form">Contato</h5></div>
<div class="row">
	<div class="col-md-12">
		<%= f.label :email, 'E-mail', class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.email_field :email, :class => 'form-control rounded-3' %>
			<div id="email_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :phone_number, "Telefone", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :phone_number, :class => 'form-control rounded-3', "data-mask": "(00) 0000-0000#" %>
			<div id="phone_number_feedback" class="invalid-feedback"></div>
		</div>
	</div>

	<div class="col-md-6">
		<%= f.label :cellphone_number, "Celular", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :cellphone_number, :class => 'form-control rounded-3', "data-mask": "(00) 0000-0000#" %>
			<div id="cellphone_number_feedback" class="invalid-feedback"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= link_to 'Voltar', form_back_page, class: "btn btn-submit-adm mt-3" %>
	</div>
	<div class="col-md-6">
		<% if form_is_edit %>
		<%= f.submit "Atualizar", class: "btn btn-submit-adm mt-3"%>
		<% else %>
		<%= f.submit "Cadastar", class: "btn btn-submit-adm mt-3"%>
		<% end %>
	</div>
</div>
<% end %>