<% if @user.errors.any? %>
<h2> Erros ao criar novo usuario </h2>
<ul>
	<% @user.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<%= form_for @user do |f| %>

		<div class="col-md-12"><h5 class="sub-group-form">Dados Identificação</h5></div>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :cpf, "CPF", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<% if action_name == "edit" %>
					<%= f.text_field :cpf, :class => "form_control rounded-3", disabled: true, "data-mask": "000.000.000-00" %>
					<% else %>
					<%= f.text_field :cpf, :class => "form_control rounded-3" %>
					<% end %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :name, 'Nome', class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :name, :class => 'form_control rounded-3' %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :password, 'Senha', class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.password_field :password, :class => 'form_control rounded-3' %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :password_confirmation, 'Confirmar senha', class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.password_field :password_confirmation, :class => 'form_control rounded-3' %>
				</div>
			</div>

		</div>

		<div class="col-md-12"><h5 class="sub-group-form">Dados de Endereço</h5></div>

		<div class="row">

			<div class="col-md-6">
				<%= f.label :address, "Endereço", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :address, :class => 'form_control rounded-3' %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :number, "Número", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :number, :class => 'form_control rounded-3' %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :complement, "Complemento", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :complement, :class => 'form_control rounded-3' %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :neighborhood, "Bairro", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :neighborhood, :class => 'form_control rounded-3' %>
				</div>
			</div>

			<%= f.label :zipCode, "CEP", class: "form-label mt-1 rmb-1" %>
			<div class="input-group">
				<%= f.text_field :zipCode, :class => 'form_control rounded-3', "data-mask": "00000-000" %>
			</div>

		</div>

		<div class="col-md-12"><h5 class="sub-group-form">Dados de contato</h5></div>
		<div class="row">
			<%= f.label :email, 'E-mail', class: "form-label mt-1 rmb-1" %>
			<div class="input-group">
				<%= f.email_field :email, :class => 'form_control rounded-3' %>
			</div>

			<div class="col-md-6">
				<%= f.label :phone_number, "Telefone", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :phone_number, :class => 'form_control rounded-3', "data-mask": "{00} 0000-0000#" %>
				</div>
			</div>

			<div class="col-md-6">
				<%= f.label :cellphone_number, "Celular", class: "form-label mt-1 rmb-1" %>
				<div class="input-group">
					<%= f.text_field :cellphone_number, :class => 'form_control rounded-3', "data-mask": "{00} 0000-0000#" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<%= link_to 'Voltar', :back, class: "btn btn-submit-adm mt-3" %>
			</div>
			<div class="col-md-6">
				<%= f.submit "Atualizar", class: "btn btn-submit-adm mt-3"%>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>

	<% end %>
</div>