<div>
  <div class="row">
    <h1 class="page-title text-center">ENTRAR</h1>
  </div>
  <div class="row vertical-center">
    <div class="col-md-3"></div>
    <div class="col-md-3 rounded-start square" id="pessoaFisicaLogin">
      <%= form_with(url: sign_in_user_path, method: "post") do %>
      <div class="form-group">
        <div class="text-center"><h2>Pessoa Física</h2></div>
      </div>

      <div class="form-group">
        <%= label :cgc, :title, "CPF", class: "form-label" %>
        <div class="input-group">
          <span class="material-icons input-group-text">account_circle</span>
          <input type="text" name="cgc" id="cgc" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :password, :title, 'Senha', class: "form-label"%>
        <div class="input-group">
          <span class="material-icons input-group-text">lock</span>
          <input type="password" name="password" id="password" class="form-control">
        </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Lembrar
            </label>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-2"></div>
        <div class="d-flex justify-content-center">
          <%= submit_tag "Entrar", class: "btn btn-submit" %>
        </div>
        <div class="col-md-2"></div>
      </div>
      <% end %>

    </div>

    <div class="col-md-3 rounded-end square" id="InstituicaoLogin">
      <%= form_with(url: sign_in_institution_path, html: { class: "form-horizontal" }, method: "post") do %>
      <div class="form-group">
        <div class="text-center"><h2>Instituição</h2></div>
      </div>

      <div class="form-group">
        <%= label :cgc, :title, "CNPJ", class: "form-label" %>
        <div class="input-group">
          <span class="material-icons input-group-text">account_circle</span>
          <input type="text" name="cgc" id="cgc" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <%= label :password, :title, 'Senha', class: "form-label" %>
        <div class="input-group">
          <span class="material-icons input-group-text">lock</span>
          <input type="password" name="password" id="password" class="form-control">
        </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Lembrar
            </label>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 1rem;">
        <div class="col-md-2"></div>
        <div class="d-flex justify-content-center">
          <%= submit_tag "Entrar", class: "btn btn-submit" %>
        </div>
        <div class="col-md-2"></div>
      </div>

      <% end %>
    </div>

  </div>

</div>