<%= form_with model: model, class: 'has-validation-return', url: url, id: "newRaffleForm" do |f| %>

<% if just_show %>

<div class="row">
	<% if model.images.attached?  %>
	<div class="col-md-12"><h5 class="sub-group-form">Imagens</h5></div>
	<div id="raffleCarousel" class="carousel slide" data-bs-ride="carousel">
		<div id="raffleCarouselInner" class="carousel-inner">
		<%  model.images.each_with_index do |img, index| %>
            <div class="carousel-item img-fluid <%= index == 0 ? 'active' : '' %>">
              <img src="<%= url_for(img) %>" class="d-block w-100">
            </div>
		<% end %>
		</div>
          <button class="carousel-control-prev" type="button" data-bs-target="#raffleCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#raffleCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
	</div>
	<% end %>
</div>

<% end %>

<div class="row">
	<div class="col-md-12"><h5 class="sub-group-form">Sobre a Rifa</h5></div>
</div>
<div class='row'>
	<div class="col-md-12">
		<%= f.label :title, "Título", class: "form-label mt-1 rmb-1", maxlength: 100 %>
		<div class="input-group has-validation">
			<%= f.text_field :title, :class => 'form-control rounded-3' %>
			<div id="title_feedback" class="invalid-feedback"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= f.label :description, "Descrição da campanha", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_area :description, :class => 'form-control rounded-3', rows: 10, maxlength: 500 %>
			<div id="description_feedback" class="invalid-feedback"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12"><h5 class="sub-group-form">Sobre a Prêmio</h5></div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= f.label :prize, "Prêmio", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_field :prize, :class => 'form-control rounded-3', maxlength: 30 %>
			<div id="prize_feedback" class="invalid-feedback"></div>
		</div>
	</div>
	<div class="col-md-6">
		<%= f.label :prize_description, "Descrição do prêmio", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<%= f.text_area :prize_description, :class => 'form-control rounded-3', rows: 5, maxlength: 200 %>
			<div id="prize_description_feedback" class="invalid-feedback"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= f.label :condition_id, "Condição de prêmio", class: "form-label mt-1 rmb-1" %>

		<%= collection_select(:raffle, :condition_id, Condition.all, :id, :name, options = {:prompt => false}, html_options = {class: "form-select has-validation rounded-3"}) %>
		<div id="condition_id_feedback" class="invalid-feedback"></div>
	</div>
	<div class="col-md-6">
		<%= f.label :delivery_type_id, "Como será entregue", class: "form-label mt-1 rmb-1" %>

		<%= collection_select(:raffle, :delivery_type_id, DeliveryType.all, :id, :name, options = {:prompt => false}, html_options = {class: "form-select has-validation rounded-3"}) %>

		<div id="delivery_type_id_feedback" class="invalid-feedback"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= f.label :category_id, "Categoria", class: "form-label mt-1 rmb-1" %>

		<%= collection_select(:raffle, :category_id, Category.all, :id, :name, options = {:prompt => false}, html_options = {class: "form-select has-validation rounded-3"}) %>

		<div id="category_id_feedback" class="invalid-feedback"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12"><h5 class="sub-group-form">Condições do Sorteio</h5></div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= f.label :unit_value, "Valor por números", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<span class="material-icons input-group-text">paid</span>
			<%= f.text_field :unit_value, :class => 'form-control rounded-3 currency', maxlength: 7, "placeholder": "0,00" %>
			<div id="unit_value_feedback" class="invalid-feedback"></div>
		</div>
	</div>
	<div class="col-md-6">
		<%= f.label :tickets_number, "Quantidade de números", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<span class="material-icons input-group-text">label</span>
			<%= f.text_field :tickets_number, :class => 'form-control rounded-3', "data-mask": "9999"%>
			<div id="tickets_number_feedback" class="invalid-feedback"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= f.label :draw_date, "Data do Sorteio", class: "form-label mt-1 rmb-1" %>
		<div class="input-group has-validation">
			<span class="material-icons input-group-text">event</span>
			<%= f.text_field :draw_date, :class => 'form-control rounded-3 datepicker', "data-mask": "00/00/0000", "placeholder": "__/__/____", "data-provide" => "datepicker" %>
			<div id="draw_date_feedback" class="invalid-feedback"></div>
		</div>
	</div>
</div>

<% if !form_is_edit && !just_show %>

<div class="col-md-12"><h5 class="sub-group-form">Imagens</h5></div>
<div class="row">
	<div class="col-md-12">
		<div id="raffleImages" >
			
		</div>
	</div>
</div>
<% end %>

<div class="row">
	<div class="col-md-6">
		<%= link_to 'Voltar', form_back_page, class: "btn btn-submit-adm mt-3" %>
	</div>
	<div class="col-md-6">
		<% if !just_show %>
		<% if form_is_edit %>
		<%= f.submit "Atualizar", class: "btn btn-submit-adm mt-3"%>
		<% else %>
		<%= f.submit "Cadastar", id: "newRaffleFormSubmit", class: "btn btn-submit-adm mt-3"%>
		<% end %>
		<% end %>
	</div>
</div>

<% end %>