<div class="row">
   <div id="sidebar_wrap" class="col-md-3">
      <div class="row">
      <%= render 'layouts/navigation/sidebar_menu_filters' %>
      </div>
   </div>
   <div class="col-md-8">
      <div class="row">
            <h1 class="text-center">Campanhas</h1>
      </div>
      <div class="row">
      <div id="intitution-raffles-list" class="pt-3">
         <% @raffles.each do |raffle| %>
         <div class="card my-2">
            <div class="raffle-card">
               <div class="row g-0">
                  <div class="col-md-3">
                     <div class="card-image">
                     <img src="<%= raffle.images.attached? ? url_for(raffle.images.first) : "/assets/placeholder-image.jpg" %>" class="img-fluid rounded">
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="card-body">

                        <p><small class="text-muted">Por: <%= raffle.institution.social_reason %></small></p>
                        <h5 class="card-title"><%= raffle.title %></h5>
                        <p class="card-text"><%= raffle.description %></p>
                        <h5 class="card-text">Prêmio:</h5>
                        <h5 class="card-text"><%= raffle.prize %></h5>
                        <p><small class="text-muted">Categoria: <%= raffle.category.name %></small></p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="row">
                        <div class="col-md-12">
                           <h5 class="text-center">Progresso</h5>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="d-flex justify-content-center">
                              <canvas class="raffleProgessChart" data-tickets-sold = "<%= raffle.tickets_sold.to_s %>" data-tickets-open = "<%= (raffle.tickets_number - 0).to_s %>" style="width: 500px;"></canvas>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h5 class="text-center"><%= raffle.tickets_sold.to_s + '/' + raffle.tickets_number.to_s %></h5>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="default-border ms-4">
                              <div class="row">
                                 <h5 class="text-center">Sorteio dia:</h5>
                              </div>
                              <div class="row">
                                 <h5 class="text-center"> <%= raffle.draw_date.strftime('%d/%m/%Y') %> </h5>
                              </div>
                              </div>
                              <div class="row">
                              <div class="d-flex justify-content-center ms-3 my-1">
                                 <%= link_to 'Visualizar'.html_safe, raffles_path(raffle), :class => 'btn btn-action' %>
                              </div>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
      </div>
      <div align="center">
         <%= will_paginate @raffles %>
      </div>
  </div>
   </div>
</div>
</div>