<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href=<%= admins_dashboard_users_path %>>Rifa Amiga</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
 <ul class="nav navbar-nav navbar-left">
  <li><a href=<%= users_dashboard_root_path %>>Dados Cadastrais</a></li>
  <li><a href=<%= users_dashboard_tickets_path %>>Tickets</a></li>
  <li><a href=<%= users_dashboard_wallet_path %>>Carteira</a></li>
  <% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to('Sair', destroy_user_session_path, method: :delete) %></li>
  </ul>
  <% end %>
</ul>
</div>
</div>
</nav>
